<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">



</head>
-->
<%- include('../partials/header.ejs') %>



    <body>
        <div class="container">
            <h1>Welcome to Alberta's Competitive Paintball Scene</h1>
            <p>Experience the thrill of competitive paintball!</p>
            <p class="text-center greeting">
                <%= passGreeting %>
            </p>
            <h4 class="text-center delete-message">
                <%= deleteMessage %>
            </h4>

            <div class="row">
                <div class="col-md-6">
                    <img src="/images/2022-07-17 - Fly Free Photography-033.jpg" alt="Competitive Paintball Player"
                        class="img-fluid">
                </div>
                <div class="col-md-6">
                    <img src="/images/2022-07-17 - Fly Free Photography-665.jpg" alt="Competitive Paintball Player"
                        class="img-fluid">
                </div>
            </div>
        </div>
        <div class="container text-center mt-4">
            <p>Join us for exciting events, team-building experiences, and unforgettable memories.</p>
            <a class="btn btn-primary" href="/about">Learn More About Us</a>
        </div>


        <%- include('../partials/footer.ejs') %>
    </body>

</html>