<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <%- include('../partials/style.ejs') %>
        <title><%- PageTitle %></title>
</head>
<%- include('../partials/nav.ejs') %>

    <body>
        <div class="container users-container">
            <form action="/search" method="GET" class="d-flex">
                <input type="email" name="email" class="form-control me-2" placeholder="Search for your email" required>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </body>
    <%- include('../partials/footer.ejs') %>

</html>